.container {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.row {
    display: flex;
    padding: 0px 20px;
    gap: 4px;
}

.plus-btn {
    //padding: 45px;
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 114px;
    background-color: #222222;
    border-radius: 10px;

    .icon-holder {
        color: #ffffff;
    }
}

.contents-container {
    flex: 1 1 0;
    height: 114px;
    background-color: #f4f4f4;
    border-radius: 4px;
}